@import "~normalize.css";
@import "./tthoves.scss";

body {
  font-family: "TTHoves-Bold", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2rem;
}

h1 {
  text-align: center;
}

.imageStyle {
  background-image: url("../assets/youTube.png");
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
